.main-content {
  padding-top: 32px;
  .content-title {
    margin-top: 16px;
  }
  .filters-row {
    margin-top: 24px;
  }
  .table-content {
    margin-top: 16px;
    min-height: 300px;
    overflow: visible;
  }
}
